{% extends 'base.html.twig' %}

{% block title %}My Profile
{% endblock %}

{% block body %}
	<div class="parent-container">
		<div class="demi-cercle"></div>
		<div class="form-container">
	<h2>Change my password</h2>
	{{ form_start(changePasswordForm) }}
	<div class="form-group">
		{{ form_row(changePasswordForm.oldPassword) }}
		{{ form_row(changePasswordForm.newPassword) }}
		{{ form_row(changePasswordForm.submit) }}
		{{ form_end(changePasswordForm) }}
	</div>
{% endblock %}
