{# templates/profile/index.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mon Profil
{% endblock %}

{% block body %}
	<h1>Mon Profil</h1>

	<h2>Informations personnelles</h2>
	<ul>
		<li>Nom d'utilisateur:
			{{ user.username }}</li>
		<li>Email:
			{{ user.email }}</li>
	</ul>

	<h2>Adresses</h2>
	{% for address in user.addresses %}
		<ul>
			<li>
				{{ address.type }}
				{{ address.street }},
				{{ address.city }},
				{{ address.postalCode }},
				{{ address.country }}
				{{ address.state }}
			</li>
		</ul>
	{% endfor %}

	{# je dois pas oublier d'ajouter de quoi éditer ici #}

{% endblock %}
