{% extends 'base.html.twig' %}

{% block title %}My Profile
{% endblock %}

{% block body %}
	<h1>My Profile</h1>

	<h2>Personal Information</h2>
	<ul>
		<li>User name:
			{{ user.username }}</li>
		<li>Email:
			{{ user.email }}</li>
	</ul>

	<h2>Addresses</h2>
	{% if adresses|length > 0 %}
		{% for address in adresses %}
			<div>
				<ul>
					<li>
						{{ address.type }}:
						{{ address.street }},
						{{ address.city }},
						{{ address.postalCode }},
						{{ address.country }}
						{% if address.state %},
							{{ address.state }}
						{% endif %}
						{% if address.isDefaultBilling %}
							(Default Billing Address)
						{% endif %}
						{% if address.isDefaultDelivery %}
							(Default Delivery Address)
						{% endif %}
					</li>
				</ul>
				<button class="btn btn-edit" onclick="location.href='{{ path('edit_address', {'id': address.id}) }}'">Edit</button>
				<form action="{{ path('delete_address', {'id': address.id}) }}" method="post" onsubmit="return confirm('Are you sure you want to delete this address?');">
					<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ address.id) }}">
					<button class="btn btn-delete" type="submit">Delete</button>
				</form>
			</div>
		{% endfor %}
	{% else %}
		<p>You have no active addresses. Addresses will be saved when placing an order.</p>
	{% endif %}
	<!-- Bouton pour déclencher le modal/formulaire de confirmation -->
	<button id="anonymizeButton" class="btn btn-danger">Anonymize My Account</button>

	<!-- Modal ou Div caché pour la confirmation du mot de passe -->
	<div id="passwordConfirmModal" style="display: none;" data-confirm-password-url="{{ path('user_confirm_password') }}" data-csrf-token="{{ csrf_token('confirm_password') }}">
		<form id="confirmPasswordForm">
			<input type="password" name="password" placeholder="Enter your password">
			<button type="submit">Confirm</button>
		</form>
	</div>
	<a href="{{ path('app_profile_change_password') }}">Change my password</a>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('js/anonymizeAccount.js') }}"></script>
{% endblock %}
