{% extends 'base.html.twig' %}

{% block title %}My Profile
{% endblock %}

{% block body %}
	<h1>My Profile</h1>

	<h2>Personal information</h2>
	<ul>
		<li>User name:
			{{ user.username }}</li>
		<li>Email:
			{{ user.email }}</li>
	</ul>

	<h2>Addresses</h2>
	{% for address in user.addresses %}
		<ul>
			<li>
				{{ address.type }}:
				{{ address.street }},
				{{ address.city }},
				{{ address.postalCode }},
				{{ address.country }}
				{% if address.state %},
					{{ address.state }}
				{% endif %}
				{% if address.isDefaultBilling %}
					(Default Billing Address)
				{% endif %}
				{% if address.isDefaultDelivery %}
					(Default Delivery Address)
				{% endif %}
			</li>
		</ul>
	{% endfor %}

	<a href="{{ path('app_profile_change_password') }}">Change my password</a>
{% endblock %}
