{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<h1>Shopping Cart</h1>

	{# Afficher les messages flash #}
	{% for message in app.flashes('success') %}
		<div class="alert alert-success">{{ message }}</div>
	{% endfor %}
	{% for message in app.flashes('error') %}
		<div class="alert alert-danger">{{ message }}</div>
	{% endfor %}

	{% if items %}
		{% for item in items %}
			<div>
				{{ item.product.name }}
				- Quantity:
				{{ item.quantity }}
				- Price per unit:
				{{ item.product.price }}€
																								                - Subtotal:
				{{ (item.product.price * item.quantity)|number_format(2, '.', ',') }}€
			</div>
		{% endfor %}
		<div>Total:
			{{ total }}€</div>

		{# Bouton pour confirmer la commande #}
		<form action="{{ path('order_prepare') }}" method="post">
			<button type="submit" class="btn btn-primary">Confirm Order</button>
		</form>
	{% else %}
		<p>Your cart is empty.</p>
	{% endif %}
{% endblock %}
