{% extends 'base.html.twig' %}

{% block title %}Cart
{% endblock %}

{% block body %}
	<div class="form-container">
		<div class="form-circle"></div>
		<h1>Shopping Cart</h1>

		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="alert alert-danger">{{ message }}</div>
		{% endfor %}

		{% if items %}
			<div class="cart-items">
				{% for item in items %}
					<!-- PRODUCT NAME -->
					<div class="cart-item">
						<div class="product-name">{{ item.product.name }}</div>
						<div
							class="product-details">
							<!-- PRICE UNIT -->
							<span class="product-price">Price per unit:
								{{ item.product.price }}€</span>
							<!-- SUBTOTAL -->
							<span class="product-subtotal">Subtotal:
								{{ (item.product.price * item.quantity)|number_format(2, '.', ',') }}€</span>
						</div>
						<!-- INCREMENT DECREMENT REMOVE -->
						<div class="product-quantity-actions">
							<div class="cart-actions">
								<a href="{{ path('cart_decrement', {'productId': item.product.id}) }}" class="btn btn-decrement">-</a>
								<a href="{{ path('cart_increment', {'productId': item.product.id}) }}" class="btn btn-increment">+</a>
								<a href="{{ path('cart_remove', {'productId': item.product.id}) }}" class="btn btn-remove">Remove</a>
							</div>
							<span class="product-quantity">Quantity:
								{{ item.quantity }}</span>
						</div>
					</div>
				{% endfor %}
				<!-- TOTAL PRICE -->
				<div class="cart-total">
					Total:
					{{ total }}€
				</div>
			</div>
			<!-- CLEAR CART -->
			<div class="clear-cart-container">
				<a href="{{ path('cart_clear') }}" class="clear-cart-link">
					<span class="material-symbols-outlined clear">
						remove_shopping_cart
					</span>
					<span class="button-text">Clear Cart</span>
				</a>
			</div>
			<!-- CONFIRM ORDER -->
			<div class="cart-footer">
				<form action="{{ path('order_prepare') }}" method="post" class="confirm-order-form">
					<button type="submit" class="btn btn-confirm">Confirm Order</button>
				</form>
			</div>
		{% else %}
			<p>Your cart is empty.</p>
		{% endif %}
		<a href="{{ path('product') }}" class="back-link">Back to list</a>
	</div>
{% endblock %}
