{% extends 'base.html.twig' %}

{% block title %}Edit Review{% endblock %}

{% block body %}
<h1>Edit review</h1>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.title) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title) }}
    </div>

    <div class="form-group">
        {{ form_label(form.rating) }}
        {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.rating) }}
    </div>

    <div class="form-group">
        {{ form_label(form.comment) }}
        {{ form_widget(form.comment, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.comment) }}
    </div>

    <button type="submit" class="btn btn-update">Update</button>
{{ form_end(form) }}

{% endblock %}
