{% extends 'base.html.twig' %}

{% block title %}Products{% endblock %}
{% block meta_description %}List of products{% endblock %}

{% block body %}
    {% if app.user %}
        <div class="parent-container">
            <div class="demi-cercle"></div>
    {% endif %}
        <div class="form-container">
            <h1>List of products</h1>

            <!-- FILTRES -->
            <form action="{{ path('product') }}" method="get" id="filter-form">
                <!-- Categories -->
                <select name="category" id="category-select">
                    <option value="" {{ category is null ? 'selected' : '' }}>All categories</option>
                    {% for categoryOption in categories %}
                        <option value="{{ categoryOption.id }}" {{ categoryOption.id == category ? 'selected' : '' }}>{{ categoryOption.name }}</option>
                    {% endfor %}
                </select>

                <select name="sort" id="sort-select">
                    <!-- Date -->
                    <optgroup label="Date">
                        <option value="newest" {{ sort == 'newest' ? 'selected' : '' }}>newest to oldest</option>
                        <option value="oldest" {{ sort == 'oldest' ? 'selected' : '' }}>oldest to newest</option>
                    </optgroup>
                    <!-- Prix -->
                    <optgroup label="Price">
                        <option value="price_high_to_low" {{ sort == 'price_high_to_low' ? 'selected' : '' }}>highest to lowest</option>
                        <option value="price_low_to_high" {{ sort == 'price_low_to_high' ? 'selected' : '' }}>lowest to highest</option>
                    </optgroup>
                </select>

				<!-- Nombre de produits que l'utilisateur veut afficher -->
                <select name="maxResults" id="max-results-select">
                    <optgroup label="Pages"
                        {% set options = [0, 5, 10, 20, 30, 50, 100] %}
                        {% for option in options %}
                            <option value="{{ option }}" {{ maxResults == option ? 'selected' : '' }}>{{ option }}</option>
                        {% endfor %}
                    </optgroup>
                </select>
            </form>

            <div class="products">
                {% for product in products %}
                    <div class="card">
                        <div class="card-img-container">
                       <!-- Lien vers product_show -->
                <a href="{{ path('product_show', {'id': product.id}) }}">
                    <!-- Si l'utilisateur a ajouté une image, sinon, default-image -->
                    <img src="{{ product.imageUrl ?: '/images/default-image.jpg' }}" alt="{{ product.name }}" class="card-img-top">
                            <!-- Conteneur pour la description au survol -->
                            <div class="card-hover-description">
                                {{ product.description|length > 100 ? product.description|slice(0, 100) ~ '...' : product.description }}
                            </div>
                </a>

                            <div class="card-price">{{ product.price }}€</div>

                            <div class="icon-group">
                                <a href="{{ path('product_show', {'id': product.id}) }}" class="btn btn-show">
                                    <span class="material-symbols-outlined show">visibility</span>
                                </a>
                                {% if product.user != app.user %}
                                    <a href="{{ path('add_to_cart', {'id': product.id}) }}" class="btn btn-add">
                                        <span class="material-symbols-outlined cart">add_shopping_cart</span>
                                    </a>
                                    <a href="{{ path('wishlist_add', {'productId': product.id}) }}" class="btn btn-add">
                                        <span class="material-symbols-outlined wishlist">receipt_long</span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>

                        <div class="card-user">{{ product.user.username }}</div>

                        <div class="card-body">
                            <h5 class="card-title">{{ product.name }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!-- Pagination -->
            <div class="pagination">
                <!-- Navigation (Boutons précédent, suivant, numéros de page) -->
                <div class="pagination-nav">
                    {% if currentPage > 1 %}
                        <a href="{{ path('product', {'page': currentPage - 1, 'category': category, 'sort': sort, 'maxResults': maxResults}) }}" class="pagination-button">Previous</a>
                    {% endif %}

                    {% for i in startPage..endPage %}
                        <a href="{{ path('product', {'page': i, 'category': category, 'sort': sort, 'maxResults': maxResults}) }}" class="{{ i == currentPage ? 'pagination-button active' : 'pagination-button' }}">{{ i }}</a>
                    {% endfor %}

                    {% if endPage < totalPages %}
                        <span class="pagination-ellipsis">...</span>
                        <a href="{{ path('product', {'page': totalPages, 'category': category, 'sort': sort, 'maxResults': maxResults}) }}" class="pagination-button">{{ totalPages }}</a>
                    {% endif %}

                    {% if currentPage < totalPages %}
                        <a href="{{ path('product', {'page': currentPage + 1, 'category': category, 'sort': sort, 'maxResults': maxResults}) }}" class="pagination-button">Next</a>
                    {% endif %}
                </div>

                <!-- Champ pour entrer un numéro de page et bouton "Go" -->
                <form action="{{ path('product') }}" method="get" class="page-select-form">
                    <input type="hidden" name="category" value="{{ category }}">
                    <input type="hidden" name="sort" value="{{ sort }}">
                    <input type="hidden" name="maxResults" value="{{ maxResults }}">
                    <input type="number" name="page" min="1" max="{{ totalPages }}" value="{{ currentPage }}">
                    <button type="submit" class="pagination-button">Go</button>
                </form>
            </div>
        </div>
    </div>

	{% block javascripts %}
		<script src="{{ asset('js/select-filter.js') }}"></script>
	{% endblock %}
{% endblock %}
