{% extends 'base.html.twig' %}

{% block title %}
	Product details -
	{{ product.name }}
{% endblock %}

{% block body %}
	<h1>{{ product.name }}</h1>

	<div class="product-detail">
		<img src="{{ product.image_url|default('/images/default-image.jpg') }}" alt="{{ product.name }}" class="product-img">
		<p>
			<strong>Description:</strong>
			{{ product.description }}</p>
		<p>
			<strong>Price:</strong>
			{{ product.price }}€</p>
		<p>
			<strong>Quantity in stock:</strong>
			{{ product.getStockQuantity }}</p>
		<p>
			<strong>Date of creation:</strong>
			{{ product.getCreatedAt ? product.getCreatedAt|date('d-m-Y H:i') : 'Non spécifiée' }}</p>
		<p>
			<strong>Update date:</strong>
			{{ product.getUpdatedAt ? product.getUpdatedAt|date('d-m-Y H:i') : 'Non spécifiée' }}</p>
		<a href="{{ path('product') }}" class="btn btn-primary">Back to products list</a>
	</div>
{% endblock %}
