{% extends 'base.html.twig' %}

{% block title %}
    Product details - {{ product.name }}
{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <div class="product-detail">
        <img src="{{ product.image_url|default('/images/default-image.jpg') }}" alt="{{ product.name }}" class="product-img">
        <p><strong>Description:</strong> {{ product.description }}</p>
        <p><strong>Price:</strong> {{ product.price }}€</p>
        <p><strong>Quantity in stock:</strong> {{ product.stockQuantity }}</p>
        <p><strong>Date of creation:</strong> {{ product.createdAt ? product.createdAt|date('d-m-Y H:i') : 'Non spécifiée' }}</p>
        <p><strong>Update date:</strong> {{ product.updatedAt ? product.updatedAt|date('d-m-Y H:i') : 'Non spécifiée' }}</p>
        <a href="{{ path('product') }}" class="btn btn-back">Retour à la liste des produits</a>

        <!-- Bouton pour ajouter une revue -->
        <button id="add-review-button" class="btn btn-primary">Ajouter une revue</button>

        <!-- Container pour le formulaire de revue -->
        <div id="review-form-container" style="display:none;">
            {% include 'review/add.html.twig' with {'form': form} %}
        </div>

        <!-- Affichage des revues existantes -->
        <div class="product-reviews">
            <h3>Revues</h3>
            {% for review in product.reviews %}
                <div class="review">
                    <p><strong>{{ review.user.username }}</strong> ({{ review.createdAt|date('d-m-Y') }})</p>
                    <p>{{ review.comment }}</p>
                    {% if app.user and app.user == review.user %}
                        <a href="{{ path('review_edit', {'id': review.id}) }}" class="btn btn-secondary">Éditer</a>
                        <a href="{{ path('review_delete', {'id': review.id}) }}" class="btn btn-danger" onclick="return confirm('Êtes-vous sûr de vouloir supprimer cette revue ?');">Supprimer</a>

                    {% endif %}
                </div>
            {% else %}
                <p>Aucune revue pour ce produit.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
document.addEventListener('DOMContentLoaded', (event) => {
    var addButton = document.getElementById('add-review-button');
    if(addButton) {
        addButton.addEventListener('click', function() {
            document.getElementById('review-form-container').style.display = 'block';
            this.style.display = 'none';
        });
    }
});
    </script>
{% endblock %}
