<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block meta_description %}This is a default description of my website.{% endblock %}">
		<link rel="canonical" href="{{ app.request.uri }}"
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %}Welcome!{% endblock %}</title>
		<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Acme" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"> <!-- Pour les étoiles -->


		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
			<link
			rel="stylesheet" href="{{ asset('css/standard.css') }}">

						<!-- Pour la page home  -->
			{% if app.request.attributes.get('_route') == 'home' %}
							<link rel="stylesheet" href="{{ asset('css/forms/form-products.css') }}">
				<link rel="stylesheet" href="{{ asset('css/home.css') }}">
			{% endif %}

			<!-- Pour la liste des produits -->
			{% if app.request.attributes.get('_route') == 'product' %}
				<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
				<link rel="stylesheet" href="{{ asset('css/forms/form-products.css') }}">
				<link rel="stylesheet" href="{{ asset('css/pagination.css') }}">
				<link rel="stylesheet" href="{{ asset('css/filter.css') }}">
			{% endif %}
			<!-- Pour la liste de mes produits -->
			{% if app.request.attributes.get('_route') == 'my_products' %}
				<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
				<link rel="stylesheet" href="{{ asset('css/my-products.css') }}">
				<link rel="stylesheet" href="{{ asset('css/forms/form-my-products.css') }}">
			{% endif %}
			<!-- Pour la liste des produits des autres utilisateurs -->
			{% if app.request.attributes.get('_route') == 'other_profile' %}
				<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
				<link rel="stylesheet" href="{{ asset('css/my-products.css') }}">
				<link rel="stylesheet" href="{{ asset('css/forms/form-my-products.css') }}">
			{% endif %}
			<!-- Pour les formulaires add/edit produit -->
			{% if app.request.attributes.get('_route') == 'product_add' or app.request.attributes.get('_route') == 'product_edit' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
			{% endif %}
			<!-- Pour le cart -->
			{% if app.request.attributes.get('_route') == 'cart_index' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/cart.css') }}">
				<link rel="stylesheet" href="{{ asset('css/body-wishlist-cart.css') }}">
			{% endif %}
			<!-- Pour la wishlist -->
			{% if app.request.attributes.get('_route') == 'wishlist_index' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/wishlist.css') }}">
				<link rel="stylesheet" href="{{ asset('css/body-wishlist-cart.css') }}">
			{% endif %}
			<!-- Pour la my profile -->
			{% if app.request.attributes.get('_route') == 'app_profile' or app.request.attributes.get('_route') == 'app_profile_change_password'%}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/myProfile.css') }}">
			{% endif %}
			<!-- Pour Review -->
			{% if app.request.attributes.get('_route') == 'product_show' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form-review.css') }}">
				<link rel="stylesheet" href="{{ asset('css/review.css') }}">
			{% endif %}
			<!-- Pour la commande -->
			{% if app.request.attributes.get('_route') == 'order_prepare' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form-order.css') }}">
			{% endif %}
			<!-- Pour l'adresse -->
			{% if app.request.attributes.get('_route') == 'edit_address' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
			{% endif %}
			<!-- Registration -->
			{% if app.request.attributes.get('_route') == 'app_register' %}
				<link rel="stylesheet" href="{{ asset('css/terms-modal.css') }}">
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
			{% endif %}
			<!-- Login -->
			{% if app.request.attributes.get('_route') == 'app_login' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
			{% endif %}
			<!-- Tracking -->
			{% if app.request.attributes.get('_route') == 'order_tracking' or app.request.attributes.get('_route') == 'sold_order_tracking' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/tracking.css') }}">
			{% endif %}
			<!-- Tracking list -->
			{% if app.request.attributes.get('_route') == 'order_tracking_list' or app.request.attributes.get('_route') == 'my_sold_orders' %}
				<link rel="stylesheet" href="{{ asset('css/forms/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/tracking-list.css') }}">
			{% endif %}
			<!-- Messages Flash -->
			<link
			rel="stylesheet" href="{{ asset('css/flash-messages.css') }}">
			<!-- Footer -->
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">
		{% endblock %}
	</head>

	<body>
		<header>
			<div class="navbar">
				<!-- SCRIPT PARTICULE POUR WISHLIST & CART -->
				{% block javascripts %}
					{% if app.request.attributes.get('_route') == 'wishlist_index' or app.request.attributes.get('_route') == 'cart_index' %}
									{# <script src="https://app.embed.im/snow.js" defer></script> #}
						{# <script src="{{ asset('js/particule.js') }}"></script> #}
					{% endif %}
				{% endblock %}
				<!-- Section gauche avec Logo et Home -->
				<div class="nav-left">
					<a href="{{ path('home') }}" class="nav-item">
						<span class="material-symbols-outlined">cottage</span>
						Home
					</a>
					<a href="{{ path('product') }}" class="nav-item">
						<span class="material-symbols-outlined">
							inventory_2
						</span>Products</a>
				</div>
				<!-- Section centrale pour le nom de l'utilisateur -->
				<div class="nav-center">
					<!-- Afficher seulement si l'utilisateur est connecté -->
					{% if app.user %}
						<div class="nav-item dropdown {% if is_granted('ROLE_CRAFTSMAN') %}is-craftsman{% else %}is-customer{% endif %}">
							<button class="dropbtn">{{ app.user.username }}</button>
							<div class="logo material-symbols-outlined profil">
								{% if app.user.profilePicture %}
									<img src="{{ asset('uploads/profile_pictures/' ~ app.user.profilePicture) }}" alt="Profile Picture" class="profil-logo">
								{% else %}
									<img src="{{ asset('images/noPic.png') }}" alt="Default Profile Picture" class="profil-logo">
								{% endif %}
							</div>
							<div class="dropdown-content">
								<div class="dropdown-item">
									<a href="{{ path('app_profile') }}">
										<span class="material-symbols-outlined my-profil">user_attributes</span>
										<span class="icon-text">My Profile</span>
									</a>
								</div>
								{% if is_granted('ROLE_CRAFTSMAN') %}
									<div class="dropdown-item">
										<a href="{{ path('my_products') }}">
											<span class="material-symbols-outlined my-products">precision_manufacturing</span>
											<span class="icon-text">My Products</span>
										</a>
									</div>
								{% endif %}
								<div class="dropdown-item">
									<a href="{{ path('order_tracking_list') }}">
										<span class="material-symbols-outlined tracking-list">data_exploration</span>
										<span class="icon-text">My Order Tracking List</span>
									</a>
								</div>
								<div class="dropdown-item">
									<a href="{{ path('app_logout') }}">
										<span class="material-symbols-outlined logout">logout</span>
										<span class="icon-text">Logout</span>
									</a>
								</div>
							</div>
						</div>
					{% endif %}
				</div>

				<!-- Section droite pour les autres liens -->
				<div class="nav-right">
					<a href="{{ path('cart_index') }}" class="nav-item">
						<span class="material-symbols-outlined">
							shopping_cart
						</span>Cart</a>
					<a href="{{ path('wishlist_index') }}" class="nav-item">
						<span class="material-symbols-outlined">
							receipt_long
						</span>Wishlist</a>

					{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
						<a href="{{ path('app_register') }}" class="nav-item">
							<span class="material-symbols-outlined">
								app_registration
							</span>Register</a>
						<a href="{{ path('app_login') }}" class="nav-item">
							<span class="material-symbols-outlined">
								login
							</span>Login</a>
					{% endif %}
				</div>
			</div>
		</header>
		<!-- MESSAGES FLASH -->
		{% for message in app.flashes('success') %}
			<div class="alert alert-success">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('error') %}
			<div class="alert alert-error">{{ message }}</div>
		{% endfor %}

		{% for message in app.flashes('notice') %}
			<div class="alert alert-notice">{{ message }}</div>
		{% endfor %}

		{% if app.request.attributes.get('_route') == 'app_login' and error %}
			<div class="alert alert-error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% block body %}{% endblock %}

		<footer>
			<!-- Footer -->
			{% include 'partials/footer.html.twig' %}
		</footer>

		<!-- Script de Tarte au Citron -->
		<script src="{{ asset('tarteAuCitron/tarteaucitron.js') }}"></script>
		<script>
			tarteaucitron.init({
			"privacyUrl": "{{ path('privacy_policy') }}", /* Lien vers la politique de confidentialité */
			"hashtag": "#tarteaucitron", /* Ouverture automatique avec ce hashtag */
			"cookieName": "tarteaucitron", /* Nom du cookie de consentement */
			"orientation": "bottom", /* Position de la bannière */
			});
		</script>
	</body>
</html>
