<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
		<link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Acme" rel="stylesheet">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
			<link
			rel="stylesheet" href="{{ asset('css/standard.css') }}">
			<!-- Pour la liste des produits -->
			{% if app.request.attributes.get('_route') == 'product' %}
				<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
			{% endif %}
			<!-- Pour la liste de mes produits -->
			{% if app.request.attributes.get('_route') == 'my_products' %}
				<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
				<link rel="stylesheet" href="{{ asset('css/my-products.css') }}">
			{% endif %}
			<!-- Pour les formulaires add/edit produit -->
			{% if app.request.attributes.get('_route') == 'product_add' or app.request.attributes.get('_route') == 'product_edit' %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
			{% endif %}
			<!-- Pour le cart -->
			{% if app.request.attributes.get('_route') == 'cart_index' %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/cart.css') }}">
				<link rel="stylesheet" href="{{ asset('css/body-wishlist-cart.css') }}">
			{% endif %}
			<!-- Pour la wishlist -->
			{% if app.request.attributes.get('_route') == 'wishlist_index' %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/wishlist.css') }}">
				<link rel="stylesheet" href="{{ asset('css/body-wishlist-cart.css') }}">
			{% endif %}
			<!-- Pour la my profile -->
			{% if app.request.attributes.get('_route') == 'app_profile' %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
				<link rel="stylesheet" href="{{ asset('css/myProfile.css') }}">
			{% endif %}
			<!-- Registration -->
			{% if app.request.attributes.get('_route') == 'app_register' %}
				<link rel="stylesheet" href="{{ asset('css/terms-modal.css') }}">
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
			{% endif %}
			<!-- Login -->
			{% if app.request.attributes.get('_route') == 'app_login' %}
				<link rel="stylesheet" href="{{ asset('css/form.css') }}">
			{% endif %}

			<!-- Tarte au Citron -->
			<link
			rel="stylesheet" href="{{ asset('tarteAuCitron/tarteaucitron.css') }}">
			<!-- Footer -->
			<link rel="stylesheet" href="{{ asset('css/footer.css') }}">

		{% endblock %}

	</head>
	<body>
		<div
			class="navbar">
			<!-- SCRIPT PARTICULE POUR WISHLIST & CART -->
			{% block javascripts %}
				{% if app.request.attributes.get('_route') == 'wishlist_index' or app.request.attributes.get('_route') == 'cart_index' %}
					<script src="{{ asset('js/particule.js') }}"></script>
				{% endif %}
			{% endblock %}
			<!-- Section gauche avec Logo et Home -->
			<div class="nav-left">
				<a href="{{ path('home') }}" class="nav-item">
					<span class="material-symbols-outlined">cottage</span>
					Home
				</a>
				<a href="{{ path('product') }}" class="nav-item">
					<span class="material-symbols-outlined">
						inventory_2
					</span>Products</a>
			</div>
			<!-- Section centrale pour le nom de l'utilisateur -->
			<div
				class="nav-center">
				<!-- Afficher seulement si l'utilisateur est connecté -->
				{% if app.user %}
					<div class="nav-item dropdown {% if is_granted('ROLE_CRAFTSMAN') %}is-craftsman{% else %}is-customer{% endif %}">
						<button class="dropbtn">{{ app.user.username }}</button>
						<div class="logo material-symbols-outlined profil">
							<img src="{{ asset('images/logo.png') }}" alt="Logo" class="profil-logo">
						</div>
						<div class="dropdown-content">
							<div class="dropdown-item">
								<a href="{{ path('app_profile') }}">
									<span class="material-symbols-outlined my-profil">user_attributes</span>
									<span class="icon-text">My Profil</span>
								</a>
							</div>
							{% if is_granted('ROLE_CRAFTSMAN') %}
								<div class="dropdown-item">
									<a href="{{ path('my_products') }}">
										<span class="material-symbols-outlined my-products">precision_manufacturing</span>
										<span class="icon-text">My Products</span>
									</a>
								</div>
							{% endif %}
							<div class="dropdown-item">
								<a href="{{ path('order_tracking_list') }}">
									<span class="material-symbols-outlined tracking-list">data_exploration</span>
									<span class="icon-text">My Order Tracking List</span>
								</a>
							</div>
							<div class="dropdown-item">
								<a href="{{ path('app_logout') }}">
									<span class="material-symbols-outlined logout">logout</span>
									<span class="icon-text">Logout</span>
								</a>
							</div>
						</div>
					</div>
				{% endif %}
			</div>

			<!-- Section droite pour les autres liens -->
			<div class="nav-right">
				<a href="{{ path('cart_index') }}" class="nav-item">
					<span class="material-symbols-outlined">
						shopping_cart
					</span>Cart</a>
				<a href="{{ path('wishlist_index') }}" class="nav-item">
					<span class="material-symbols-outlined">
						receipt_long
					</span>Wishlist</a>

				{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
					<a href="{{ path('app_register') }}" class="nav-item">
						<span class="material-symbols-outlined">
							app_registration
						</span>Register</a>
					<a href="{{ path('app_login') }}" class="nav-item">
						<span class="material-symbols-outlined">
							login
						</span>Login</a>
				{% endif %}
			</div>
		</div>

		<!-- MESSAGES FLASH -->
		{% for flash_message in app.flashes('error') %}
			<div class="alert alert-flash">
				{{ flash_message }}
			</div>
		{% endfor %}
		{% block body %}{% endblock %}

		<!-- Footer -->
		{% include 'partials/footer.html.twig' %}

		<!-- Script de Tarte au Citron -->
		<script src="{{ asset('tarteAuCitron/tarteaucitron.js') }}"></script>
		<script>
			tarteaucitron.init({
"privacyUrl": "{{ path('privacy_policy') }}", /* Lien vers la politique de confidentialité */
"hashtag": "#tarteaucitron", /* Ouverture automatique avec ce hashtag */
"cookieName": "tarteaucitron", /* Nom du cookie de consentement */
"orientation": "bottom",
/* Position de la bannière */
});
		</script>
	</body>
</html>
