<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'><text y='1.2em' font-size='96'>⚫️</text></svg>">
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('css/navbar.css') }}">
			<link rel="stylesheet" href="{{ asset('css/product-card.css') }}">
		{% endblock %}
		{% block javascripts %}{% endblock %}
	</head>
	<body>
		{% for flash_message in app.flashes('error') %}
			<div class="alert alert-danger">
				{{ flash_message }}
			</div>
		{% endfor %}

		<div class="navbar">
			<a href="{{ path('home') }}">Home</a>
			<a href="{{ path('product') }}">Products</a>
			<a href="{{ path('cart_index') }}">Cart</a>
			{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
				<a href="{{ path('app_register') }}">Register</a>
				<a href="{{ path('app_login') }}">Login</a>
			{% else %}
				<a href="{{ path('app_logout') }}">Logout</a>
				<a href="{{ path('app_profile') }}">My profile</a>
				{% if is_granted('ROLE_CRAFTSMAN') %}
					<a href="{{ path('my_products') }}">My Products</a>
				{% endif %}
			{% endif %}
		</div>
		{% block body %}{% endblock %}
	</body>
</html>
