{% extends 'base.html.twig' %}

{% block title %}Order Confirmation
{% endblock %}

{% block body %}
	<h1>Order Confirmation</h1>

	{{ form_start(orderForm) }}

	<h2>Delivery Address</h2>

	{{ form_row(orderForm.selectedAddress) }}
	<div id="new_address_form" style="display: none;">
		{{ form_row(orderForm.street) }}
		{{ form_row(orderForm.city) }}
		{{ form_row(orderForm.state) }}
		{{ form_row(orderForm.postalCode) }}
		{{ form_row(orderForm.country) }}
		{{ form_row(orderForm.type) }}
		{{ form_row(orderForm.saveAddress) }}
	</div>


	{{ form_row(orderForm.confirmOrder) }}
	{{ form_end(orderForm) }}

	<h2>Basket Details</h2>
	{% for item in items %}
		<div>
			{{ item.product.name }}
			- Quantity:
			{{ item.quantity }}
			- Price:
			{{ item.product.price }}€
		</div>
	{% endfor %}
	<p>Order Total:
		{{ total }}€</p>

	<script>
		function toggleAddressForm() {
var newAddressRadio = document.getElementById('new_address');
var formDiv = document.getElementById('new_address_form');
formDiv.style.display = newAddressRadio.checked ? 'block' : 'none';
}
document.addEventListener('DOMContentLoaded', function () {
toggleAddressForm();
});
	</script>
{% endblock %}
