{% extends 'base.html.twig' %}

{% block title %}My Order Tracking List
{% endblock %}

{% block body %}
	<div class="parent-container">
		<div class="demi-cercle"></div>
		<div class="form-container">
		 <!-- Lien vers les commandes vendues -->
            <div class="navigation-links">
                <a href="{{ path('my_sold_orders') }}" class="btn btn-view-sold-orders">View My Sold Orders</a>
            </div>
			<h1>My Orders</h1>
			{% if orders|length > 0 %}
				<div class="order-table-container">
					<table class="table-orders">
						<thead>
							<tr>
								<th>Order #</th>
								<th>Date</th>
								<th>Status</th>
								<th>Items</th>
								<th>Total</th>
								<th>Track</th>
								<th>Invoice</th>
							</tr>
						</thead>
						<tbody>
							{% for order in orders %}
								<tr>
									<td>{{ order.trackingToken }}</td>
									<td>{{ order.updatedAt|date('Y-m-d H:i') }}</td>
									<td>{{ order.status }}</td>
									<td>{{ order.orderDetails|length }}</td>
									<td>{{ order.totalPrice }}€</td>
									<td>
										{% if order.trackingToken %}
											<a href="{{ path('order_tracking', {'token': order.trackingToken}) }}">Track</a>
										{% else %}
											<span>Not available</span>
										{% endif %}
									</td>
									<td>
										<a href="{{ path('download_invoice', {'orderId': order.id}) }}">Download</a>
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			{% else %}
				<p class="no-orders">You have no orders.</p>
			{% endif %}
		</div>
	</div>
{% endblock %}
